In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
warnings.filterwarnings("ignore")
sns.set(style="ticks", context="talk")
plt.style.use("dark_background")
%matplotlib inline

In [2]:
cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in 'E:\\My_Model\\ML_Projects\\1_Identifying_Age_Related_Conditions': ['.ipynb_checkpoints', 'age_related_conditions.jpg', 'age_related_health_conditions.jpg', 'correlation_1.png', 'correlation_2.png', 'correlation_3.png', 'correlation_4.png', 'data', 'Model Building.ipynb', 'model_EDA.ipynb', 'PS', 'submission.csv', 'Untitled.ipynb']

In [3]:
path = r"E:/My_Model/ML_Projects/1_Identifying_Age_Related_Conditions/data"

In [4]:
data = pd.read_csv(f"{path}/train.csv")
data2 = pd.read_csv(f"{path}/greeks.csv")

In [5]:
data.head()

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,Class
0,000ff2bfdfe9,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,...,7.298162,1.73855,0.094822,11.339138,72.611063,2003.810319,22.136229,69.834944,0.120343,1
1,007255e47698,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,...,0.173229,0.49706,0.568932,9.292698,72.611063,27981.562750,29.135430,32.131996,21.978000,0
2,013f2bd269f5,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,...,7.709560,0.97556,1.198821,37.077772,88.609437,13676.957810,28.022851,35.192676,0.196941,0
3,043ac50845d5,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,...,6.122162,0.49706,0.284466,18.529584,82.416803,2094.262452,39.948656,90.493248,0.155829,0
4,044fb8a146ec,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,...,8.153058,48.50134,0.121914,16.408728,146.109943,8524.370502,45.381316,36.262628,0.096614,1

In [7]:
data2.head()

             Id Alpha Beta Gamma Delta    Epsilon
0  000ff2bfdfe9     B    C     G     D  3/19/2019
1  007255e47698     A    C     M     B    Unknown
2  013f2bd269f5     A    C     M     B    Unknown
3  043ac50845d5     A    C     M     B    Unknown
4  044fb8a146ec     D    B     F     B  3/25/2020

In [8]:
print("Shape of the data:- ",data.shape)
print("Shape of the data2:- ",data2.shape)

Shape of the data:-  (617, 58)
Shape of the data2:-  (617, 6)

## Join two dataframs

In [9]:
df = data.merge(right=data2, how="outer", on="Id")
df.head()

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,GF,GH,GI,GL,Class,Alpha,Beta,Gamma,Delta,Epsilon
0,000ff2bfdfe9,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,...,2003.810319,22.136229,69.834944,0.120343,1,B,C,G,D,3/19/2019
1,007255e47698,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,...,27981.562750,29.135430,32.131996,21.978000,0,A,C,M,B,Unknown
2,013f2bd269f5,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,...,13676.957810,28.022851,35.192676,0.196941,0,A,C,M,B,Unknown
3,043ac50845d5,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,...,2094.262452,39.948656,90.493248,0.155829,0,A,C,M,B,Unknown
4,044fb8a146ec,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,...,8524.370502,45.381316,36.262628,0.096614,1,D,B,F,B,3/25/2020

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 63 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       617 non-null    object
 1   AB       617 non-null    float64
 2   AF       617 non-null    float64
 3   AH       617 non-null    float64
 4   AM       617 non-null    float64
 5   AR       617 non-null    float64
 6   AX       617 non-null    float64
 7   AY       617 non-null    float64
 8   AZ       617 non-null    float64
 9   BC       617 non-null    float64
 10  BD       617 non-null    float64
 11  BN       617 non-null    float64
 12  BP       617 non-null    float64
 13  BQ       557 non-null    float64
 14  BR       617 non-null    float64
 15  BZ       617 non-null    float64
 16  CB       615 non-null    float64
 17  CC       614 non-null    float64
 18  CD       617 non-null    float64
 19  CF       617 non-null    float64
 20  CH       617 non-null    float64
 21  CL       617 non-null    float64
 22  CR       617 non-null    float64
 23  CS       617 non-null    float64
 24  CU       617 non-null    float64
 25  CW       617 non-null    float64
 26  DA       617 non-null    float64
 27  DE       617 non-null    float64
 28  DF       617 non-null    float64
 29  DH       617 non-null    float64
 30  DI       617 non-null    float64
 31  DL       617 non-null    float64
 32  DN       617 non-null    float64
 33  DU       616 non-null    float64
 34  DV       617 non-null    float64
 35  DY       617 non-null    float64
 36  EB       617 non-null    float64
 37  EE       617 non-null    float64
 38  EG       617 non-null    float64
 39  EH       617 non-null    float64
 40  EJ       617 non-null    object
 41  EL       557 non-null    float64
 42  EP       617 non-null    float64
 43  EU       617 non-null    float64
 44  FC       616 non-null    float64
 45  FD       617 non-null    float64
 46  FE       617 non-null    float64
 47  FI       617 non-null    float64
 48  FL       616 non-null    float64
 49  FR       617 non-null    float64
 50  FS       615 non-null    float64
 51  GB       617 non-null    float64
 52  GE       617 non-null    float64
 53  GF       617 non-null    float64
 54  GH       617 non-null    float64
 55  GI       617 non-null    float64
 56  GL       616 non-null    float64
 57  Class    617 non-null    int64
 58  Alpha    617 non-null    object
 59  Beta     617 non-null    object
 60  Gamma    617 non-null    object
 61  Delta    617 non-null    object
 62  Epsilon  617 non-null    object
dtypes: float64(55), int64(1), object(7)
memory usage: 303.8+ KB

In [16]:
df.to_csv(f"{path}/megadata.csv")